{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
<div class="container">
    <div class="alert alert-success shadow p-3 mb-5 bg-body rounded">
        <h2>Главная</h2>
        <hr>
        <br>
        <p>
            Добро пожаловать на сайт о спорте и здоровье подростков! Он создан с целью помочь молодым людям
            понять важность занятий спортом для своего физического и психологического развития. Здесь вы найдете
            полезные советы и рекомендации по выбору подходящего вида спорта, началу тренировок и правильному питанию.
            Мы надеемся, что информация на сайте поможет вам на пути к здоровой и активной жизни.
        </p>
    </div>
</div>
{% endblock %}