{% extends 'base.html' %}

{% block title %}
ЗОЖ и СПОРТ
{% endblock %}

{% block content %}
<div class="container">
    <div class="alert alert-success shadow p-3 mb-5 bg-body rounded">
        <h2>Здоровый образ жизни и спорт</h2>
        <hr>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-4">Здоровый образ жизни</h2>
                    <p><strong>Здоровый образ жизни</strong> – это не просто отказ от вредных привычек, но и сочетание
                        правильного
                        питания,
                        физической активности и психологического комфорта. Он помогает не только избежать многих
                        заболеваний, но
                        и улучшить качество жизни, повысить работоспособность и улучшить настроение.</p>
                    <p><strong>Правильное питание</strong> – это баланс между белками, жирами, углеводами, витаминами и
                        минералами.
                        Необходимо
                        употреблять свежие фрукты и овощи, меньше жареной и жирной пищи, а также не забывать пить
                        достаточное
                        количество воды.</p>
                    <p><strong>Психологический комфорт</strong> – это состояние, когда у человека нет стрессов и
                        депрессивных состояний.
                        Для
                        этого необходимо уметь расслабляться и находить время для хобби и увлечений.</p>
                </div>
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/4.jpg')}}" alt="Healthy Lifestyle"
                         class="img-fluid">
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-6 order-md-2">
                    <h2 class="mb-4">Связь спорта и ЗОЖ</h2>
                    <p>Спорт играет важную роль в здоровом образе жизни. Регулярные физические нагрузки помогают
                        укрепить
                        мышцы
                        и связки, улучшить работу сердечно-сосудистой системы, повысить иммунитет и снять стресс.</p>
                    <p>При занятиях спортом важно учитывать свои индивидуальные особенности и физическую подготовку.
                        Необходимо
                        выбирать виды спорта, которые подходят именно вам и учитывать свои возрастные и здоровые
                        ограничения.</p>
                </div>
                <div class="col-md-6 order-md-1" style="position: relative; top: -80px; left: 60px;">
                    <img src="{{ url_for('static', filename='images/5.png')}}" alt="image">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-4">Преимущества здорового образа жизни для спортсменов</h2>
                    <p>Здоровый образ жизни является ключевым элементом для спортсменов, так как он помогает улучшить
                        физическую форму,
                        увеличить выносливость и силу, а также предотвратить многие травмы и заболевания. Он включает в
                        себя правильное
                        питание, регулярную физическую активность и полноценный сон.</p>
                    <p>Правильное питание для спортсменов должно быть богатым белками, витаминами и минералами, так как
                        они необходимы
                        для роста и восстановления мышц. Также необходимо употреблять достаточное количество углеводов и
                        жиров для
                        обеспечения энергией на тренировках.</p>
                    <p>Регулярная физическая активность должна включать в себя различные виды нагрузок для развития
                        разных групп мышц,
                        улучшения координации и выносливости. Также необходимо учитывать индивидуальные особенности и
                        тренировочный план,
                        чтобы избежать перенапряжения и травм.</p>
                    <p>Полноценный сон также является важным элементом здорового образа жизни для спортсменов, так как
                        он помогает
                        восстановить мышцы и энергию после тренировок и соревнований, а также улучшить психологическое
                        состояние.</p>
                </div>
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/6.jpg')}}" alt="Healthy Lifestyle"
                         class="img-fluid" style="position: relative; top: -50px;">
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/7.jpg') }}" alt="Sport and Health" class="img-fluid"
                    style="position: relative; top: -55px; left: 25px;">
                </div>
                <div class="col-md-6">
                    <h2 class="mb-4">Заключение</h2>
                    <p>Спорт и здоровый образ жизни неразрывно связаны между собой. Спортивные занятия помогают не
                        только
                        укрепить мышцы, но и поддерживать тонус всего организма. Во время тренировок улучшается
                        кровообращение
                        и насыщение кислородом, а также ускоряется обмен веществ.</p>
                    <p>Важно подобрать вид спорта, который подходит именно вам. Он должен соответствовать вашим
                        физическим
                        возможностям и не вызывать неприятных ощущений. Для того чтобы добиться максимальной пользы от
                        спорта,
                        нужно заниматься им регулярно и не забывать об основных принципах здорового образа жизни, таких
                        как
                        правильное питание и здоровый сон.</p>
                    <p>Помимо физических преимуществ, спорт также помогает поддерживать психологическое здоровье.
                        Регулярные
                        занятия спортом способствуют улучшению настроения и снятию стресса, а также повышают уровень
                        самооценки и уверенности в себе.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}