{% extends 'base.html' %}

{% block title %}
Важность спорта
{% endblock %}

{% block content %}
<div class="container">
    <div class="alert alert-success shadow p-3 mb-5 bg-body rounded">
        <h2>Важность спорта в жизни подростка</h2>
        <hr>
        <br>
        <h4>Влияние спорта на физическое здоровье подростков</h4>
        <div class="container">
            <p>
                Занятия спортом могут положительно влиять на физическое здоровье подростков, так как они помогают
                развивать
                выносливость, силу, гибкость, координацию и баланс. Это уменьшает вероятность различных заболеваний,
                таких
                как ожирение, диабет, сердечно-сосудистые заболевания и др. Кроме того, спортивные занятия улучшают
                работу
                сердечно-сосудистой и дыхательной систем, а также способствуют укреплению костей и мышц.
                <a href="https://tinyurl.com/2s36hvaz" class="link-success">
                    <i class="fa-solid fa-newspaper"></i> Читать подробнее...
                </a>
            </p>
        </div>
        <br><br>

        <h4>Влияние спорта на психологическое здоровье подростков</h4>
        <div class="container">
            <p>
                Спорт также может положительно влиять на психологическое здоровье подростков. Занятия спортом могут
                помочь
                подросткам развить самодисциплину, уверенность в себе и стремление к достижению целей. Они могут также
                помочь улучшить настроение и снизить уровень стресса, так как при занятиях спортом выделяются эндорфины
                -
                гормоны радости.
                <a href="https://tinyurl.com/2z47u346" class="link-success">
                    <i class="fa-solid fa-newspaper"></i> Читать подробнее...
                </a>
            </p>
        </div>
        <br><br>


        <h4>Влияние спорта на социальное развитие подростков</h4>
        <div class="container">
            <p>
                Спорт может также оказывать положительное влияние на социальное развитие подростков. Участие в командных
                видах спорта может помочь подросткам развить навыки сотрудничества, уважения к другим, а также научиться
                управлять эмоциями и контролировать агрессию. Кроме того, спортивные соревнования могут стимулировать
                подростков к достижению лучших результатов и помочь им развить чувство ответственности и уважения к
                правилам.
                <a href="https://moluch.ru/archive/95/21158/" class="link-success">
                    <i class="fa-solid fa-newspaper"></i> Читать подробнее...
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}