{% extends 'base.html' %}

{% block title %}
Виды спорта
{% endblock %}

{% block content %}
<div class="container">
    <div class="alert alert-success shadow p-3 mb-5 bg-body rounded">
        <h2>Виды спорта</h2>
        <hr>
        <div class="container">
            <p>На этой странице вы найдете краткую информацию о некоторых популярных видах спорта. Однако это лишь малая
                часть из множества существующих видов. Спорт - это не только отличный способ поддерживать тело в форме,
                но и
                развивать дисциплину, силу воли и уверенность в себе. Возможно, именно здесь вы найдете свой идеальный
                вид
                спорта! Более подробно с различными видами спорта вы можете ознакомиться,
                <a href="https://tinyurl.com/yxvk95ms" class="link-success">перейдя по ссылке...</a>
            </p>
        </div>
        <br>
        <ul>
            <li>
                <h4>Каратэ Киокушинкай</h4>
                <div class="container">
                    <p>
                        Каратэ Киокушинкай – японский боевой вид спорта, который характеризуется сильными и быстрыми
                        ударами. Он обучает техникам блокировки и контратаки, а также развивает силу, гибкость и
                        выносливость. Карате Киокушинкай отличается от других видов карате более жестким подходом к
                        тренировкам и соревнованиям. Этот вид спорта помогает развивать дисциплину, самоконтроль и
                        уверенность в себе.
                        <a href="https://tinyurl.com/mfemj45u" class="link-success">
                            <i class="fa-solid fa-newspaper"></i> Читать подробнее...
                        </a>
                    </p>
                    <p>
                        На тренировки по этому виду спорта можно записаться в нашей школе:
                    </p>
                    <ul>
                        <li>
                            Тренер — Саргсян Эдуард Араратович
                        </li>
                        <li>
                            Телефонный номер — +7 (904) 696-84-97
                        </li>
                        <li>
                            <a href="https://vk.com/public216284282" class="link-success">
                                <i class="fa-brands fa-vk"></i> Группа Вконтакте
                            </a>
                        </li>
                        <li>
                            <a href="https://kyokushin48.ru/" class="link-success">
                                <i class="fa-brands fa-chrome"></i> Вебсайт
                            </a>
                        </li>
                    </ul>
                    <br>
                </div>
            </li>
            <br>
            <li>
                <h4>Футбол</h4>
                <div class="container">
                    <p>
                        Футбол – один из самых популярных видов спорта в мире. Он развивает скорость, ловкость,
                        координацию движений и выносливость. В футбол играют командами, что способствует развитию
                        командной
                        работы и стратегического мышления. Этот вид спорта также помогает улучшить концентрацию и
                        реакцию, а также повышает уверенность в себе.
                        <a href="https://tinyurl.com/3cahj72y" class="link-success">
                            <i class="fa-solid fa-newspaper"></i> Читать подробнее...
                        </a>
                    </p>
                </div>
            </li>
            <br>
            <li>
                <h4>Баскетбол</h4>
                <div class="container">
                    <p>
                        Баскетбол – командный вид спорта, который помогает развивать скорость, координацию движений,
                        ловкость и выносливость. Он также улучшает стратегическое мышление и командную работу, поскольку
                        игра ведется командами. Баскетбол также способствует развитию точности, реакции и уверенности в
                        себе.
                        <a href="https://tinyurl.com/fyx8z9mk" class="link-success">
                            <i class="fa-solid fa-newspaper"></i> Читать подробнее...
                        </a>
                    </p>
                </div>
            </li>
            <br>
            <li>
                <h4>Кик-бокс</h4>
                <div class="container">
                    <p>
                        Кик бокс – бойцовский вид спорта, который включает в себя элементы карате, бокса и тайского
                        бокса. Этот вид спорта требует силы, ловкости и быстрой реакции, а также помогает улучшить
                        координацию движений и выносливость. Кик бокс также помогает развить дисциплину, самоконтроль и
                        уверенность в себе.
                        <a href="https://tinyurl.com/yc4durh9" class="link-success">
                            <i class="fa-solid fa-newspaper"></i> Читать подробнее...
                        </a>
                    </p>
                </div>
            </li>
        </ul>
        <div class="container mt-5">
            <p>
                Это только некоторые из видов спорта, которые помогают подросткам развиваться физически и духовно.
                Существует огромное множество других видов спорта, которые также могут принести много пользы. Важно
                выбрать тот вид спорта, который будет интересен конкретному подростку, иначе занятия спортом быстро
                надоест и принесут мало пользы.
            </p>
        </div>
    </div>
</div>
{% endblock %}